# Load Data from S3

In [74]:
import boto3
import json
import pandas as pd
import numpy as np
import re

BASE_URL = "https://clasificados.lostiempos.com"

s3 = boto3.resource('s3')
my_bucket = s3.Bucket('s3-lostiempos-data')

In [75]:
def get_phones(s):
    return re.findall(r"([\d]{8}|[\d]{7})", s)

In [175]:
def get_price(d):
    if len(d['price']) == 0:
        price = get_by_regex(d['description'], r"(\b\d{1,3}(?:\.\d{3})*(?:,\d+)?\sB[S|s]\.)", r"B[s|S]?\.\s*\d+\.\d+")
        return price
    else:
        return d['price']

In [176]:
def get_by_regex(s, regex1, regex2=None):
    result = re.findall(regex1, s)
    if len(result) > 0:
        return result[0]

    elif regex2 is not None:
        result = re.findall(regex2, s)
        if len(result) > 0:
            return result[0]

    return ''

In [172]:
def get_m2(s):
    m2 = get_by_regex(s, r"(\b\d+(\.\d+)? m2\b)", r"(\b\d+(\.\d+)?m2\b)")
    if m2 != '':
        return m2[0]
    return m2

## Cargamos archivos JSON de S3

se carga los archivos JSON desde S3 de manera iterativa

In [180]:
df_result = None

for object_summary in my_bucket.objects.filter(Prefix="json/"):
    key_path = object_summary.key
    content_object = s3.Object('s3-lostiempos-data', key_path)
    file_content = content_object.get()['Body'].read().decode('utf-8')
    json_content = json.loads(file_content)
    print('loaded: ', key_path)

    df = pd.DataFrame(json_content)
    if df_result is None:
        df_result = df.copy()
    else:
        df_result = pd.concat([df_result, df], ignore_index=True)

print( 'tamaño del dataframe:', df_result.shape[0])

loaded:  json/los_tiempos_clasificados_2023-07-28.json
tamaño del dataframe: 67

## Limpiamos el Dataframe

* Eliminamos diplicados
* eliminamos dato innecesarios

In [193]:
df_result = df_result.drop_duplicates(subset=['path'], keep='last')

df_result['link'] = BASE_URL + df_result['path']
df_result['city'] = df_result['keys'].apply(lambda x: x.split('-')[0].strip())
df_result['category'] = df_result['keys'].apply(lambda x: x.split('-')[1].strip())
df_result['home_type'] = df_result['keys'].apply(lambda x: x.split('-')[2].strip())
df_result['phones'] = df_result['description'].apply(get_phones)
df_result['price'] = df_result.apply(get_price, axis=1)
df_result['m2'] = df_result['description'].apply(get_m2)
df_result['n_rooms'] = df_result['description'].apply(
    lambda x: get_by_regex(x, r'(\d{1} dormitorio)', r'(\d{1} cuarto)', ).split(' ')[0]
)
df_result['lote_terreno'] = df_result['description'].str.contains('TERRENO') | df_result['description'].str.contains('LOTE')

In [220]:
df_result['category'] = df_result['category'].astype('category')
df_result['home_type'] = df_result['home_type'].astype('category')
df_result['m2'] = df_result['m2'].astype('float64')
df_result['n_rooms'] = df_result['n_rooms'].astype('float64')

ValueError: could not convert string to float: ''

In [209]:
def clean_prices(p):
    price_result = 1.0
    if p == '':
        return np.nan

    if '$us' in p:
        price_result = 6.94

    price = p.replace('Bs.', '').replace('BS.', '').replace('$us', '').strip().replace('.', '')
    price = int(price)
    price_result = price * price_result
    return price_result

#### TODO: realizar una función que obtenga el precio de la descricion

In [210]:
df_alquileres = df_result[df_result['category'] == 'Alquiler']
df_venta = df_result[df_result['category'] == 'Venta']
df_anticretico = df_result[df_result['category'] == 'Anticrético']

In [217]:
df_alquileres['price'] = df_alquileres['price'].apply(clean_prices)
df_alquileres['price'] = df_alquileres['price'].astype('float64')

TypeError: argument of type 'float' is not iterable

In [164]:
for d in df_result['description']:
    print(d)

ALQUILO departamento, zona norte. Ref. 77412631.
TERRENO amurallado, 320 m2, zona fabrica Copelme, 100 $us m2. Telf. 72004478.
ALQUILER oficina, sobre Heroínas casi Antezana, ideal consultorio dental, segundo piso, 45 m2. Cel. 65711091.
VENDO Departamento América casi Libertador, 3 dormitorios, 2 baños. 90 m2 sin garaje Ref. 70744006
PROPIETARIO Alquila departamento cerca al IC Norte Hipódromo Watsap 70792429
ALQUILO habitación para estudiante, a una cuadra de U. San Simón. Cel. 76404055.
CASA en anticrético, zona Quintanilla, nueva, 3 pisos, dormitorios, roperos empotrados, baños, living, comedor, cocina, garaje, patio, jardín, urbanización Hermanos Bazoalto, $us 30.000. Ref. 64942185, 79798561.
VENDO departamento, zona Pacata de 198 m2, 4 dormitorios, 1 escritorio, sala amplia, cocina, cajonería alta, baja y garaje, precio 130.000 dólares. Ref. 60752144, whatsapp.
DEPARTAMENTOS Condominio Ubuntu. A 3 cuadras de la plaza de Cala – Cala, torre de 25 pisos de entrega inmediata. Supervisión de obra: Ing. Pablo Soto Quiroga. Cel. 71460400. Últimos departamentos.
DEPARTAMENTOS condominio Oomoto, en Tiquipaya, próximo al colegio Tiquipaya, más de 1 hectárea de áreas comunes: 3 piscinas atemperadas, cabañas de churrasqueros, gimnasio y campos deportivos. Supervisión de obra: Ing. Pablo Soto Quiroga. Cel. 71460400.
DEPARTAMENTOS condominio Villa Fratterna. Es como vivir en un hotel de ***** vive en comunidad. Supervisión de obra: Ing. Pablo Soto Quiroga. Cel. 71460400.
HERMOSO departamento en venta de 2 dormitorios. edificio Patmos (plaza Cala Cala). Trato directo con el propietario. Cel. 77927700.
LOTE En El Abra, con papeles aprobados y folio real, zona Av. Octava, 200mt2 a $us 110 x mt2. Celular/Whatsapp: 72277879
VENTA una casa de 6 dormitorios, 1 cocina, 3 baños, 1 lavandería, 859 mts, zona Mallco Rancho, Municipio Sipe Sipe, por ocasión, 102.850,20 $us, contacto: 71478677.
ALQUILO departamento confortable, buen precio, calle Bustos e Incachaca, zona Loreto, con garaje. Ref. 72285782.
VENDO Casa en Argentina, ciudad de Salta, 49.000 dòlares, 300 m2. cuatro dormitorios, 72713695 whatsapp
DUEñO alquila 2 departamentos, garaje, demás dependencias, Tadeo Haenke, Beijing. 67259596.
ANTICRETICO Departamento 4 dormitorios, 2 baños, etc. Zona Cala Cala; Av. América Zona Bancos y Universidades Cel 72791039
ALQUILER tienda, 8x5, en Oquendo, 671 sud. Ref. 4220854, 70355603.
DEPARTAMENTO en alquiler, cuenta: 1 suite, 2 dormitorios, estudio, cocina, sala, dependencia para empleada, garaje, ubicado en la Av. Uyuni, Torre VIP. Ref. 70737535.
BS 1.200  Casa independiente. Con patio amplio, garaje, 2 cuartos, cocina, baño. whatsapp 44291080
OFICINA céntrica en alquiler. 70774733.
EN VENTA Casa zona campo ferial llamar: 68103436, 71190552
LOTES en venta, Sup. 310 m2, San Benito, carretera antigua, Santa Cruz, Km 39. 65363254.
1.400 BS. departamento, 2 dormitorios, roperos empotrados, otros semiamoblado, Ladislao Cabrera 562, cerca Lanza. 70772020.
EN VENTA Hermosa casa de 2 plantas con altillo urbanización privada Ecológica la Rinconada. Inmediaciones country Club Cochabamba, a media cuadra de la avenida circuito Bolivia, cerca complejo club Aurora. superficie 341 metros construidos, terreno 210m2, cuenta con 3 plantas sótano, patio trasero y patio delantero. Ref.: 76647468, 69244731
VENDO lote amurallado, de 320 mts, en tanque de agua, Km 8, Sacaba, Huayllani. Ref. 70743860.
1.500 BS. Casita sencilla alquiler independiente 1 dormitorio dependencias completas patio amplio garaje Zona Oeste Sirpita Balneario Manantial 77994624 Whatsapp
PROPIETARIO 3 dormitorios, (uno suite), 134 m2, dependencias empleada, parqueo, piscina atemperada, parrilleros, quinto piso, edificio Onix, batallón Colorados 2363 casi Melchor Pérez de Holguín, Bs. 2.400, facturado, no incluye expensas (200 Bs), garantía 5.000 Bs. (anticrético 320.000 Bs.). Ref. Telf. 71723994.
1.100 BS. Independiente garzonier alquiler con patio +garaje ideal pareja 1Dormitorio dependencias completas Benjo Cruz Condebamba 77994624 Whatsapp
1.400 BS. Mercado 10 de Febrero alquiler departamento 2 dormitorios dependencias lavandería garaje entrega inmediata 77994624 Whatsapp
SE OFRECE alquiler para lavadero, chapería, taller, esquina Juan Pablo II y Luis Espinal. Telf. 71433147.
BONITO departamento, 130 m2, Av. Pando, cerca parque Fidel Anze, 3 dormitorios, dependencias, garaje, anticrético, $us 33.000, registrable, Derechos Reales. Ref. 72720474.
PROPIETARIO 3 dormitorios (uno suite), 134 m2, dependencias empleada, parqueo, piscina atemperada, parrilleros, quinto piso, edificio Onix, Batallón Colorados, 2363 casi Melchor Perez de Holguín, 320.000 Bs. expensas (200 Bs), (alquiler 2.400 Bs, facturad). Ref. Telf. 71723994.
ALQUILO departamento amoblado, 3 dormitorios (estudiantes), otro departamento, cuatro dormitorios, Hipermaxi, Juan Rosa. 77412987, 4246066.
DEPARTAMENTOS Condominio Ubuntu. A 3 cuadras de la plaza de Cala – Cala, torre de 25 pisos de entrega inmediata. Supervisión de obra: Ing. Pablo Soto Quiroga. Cel. 71460400. Últimos departamentos.
DEPARTAMENTO condominio Oomoto, en Tiquipaya, próximo al colegio Tiquipaya, más de 1 hectárea de áreas comunes: 3 piscinas atemperadas, cabañas de churrasqueros, gimnasio y campos deportivos. Supervisión de obra: Ing. Pablo Soto Quiroga. Cel. 71460400.
VENDO departamento a estrenar, zona Anglo Americano, Queru Queru, 2 dormitorios y 2 patios privados, precio increíble. Telf. 76477733.
ANTICRETICO Departamento 3 dormitorios, 2 baños, sala grande, cocina. Final Colombia, zona teleférico #240. Garaje. Cel. 71743364.
DEPARTAMENTOS condominio Villa Fratterna. Es como vivir en un hotel de ***** vive en comunidad. Supervisión de obra: Ing. Pablo Soto Quiroga. Cel. 71460400.
HERMOSO departamento en venta de 2 dormitorios. edificio Patmos (plaza Cala Cala). Trato directo con el propietario. Cel. 77927700.
EN SANTA CRUZ Vendo departamento 2 dormitorios 79 m2 Barrio Ubari condominio Aruna acepto en forma de pago vehículo, Valor $90.000 dólares Ref. 76681555
SANTA CRUZ Vendo departamento ubicado 7 anillo de la Banzer 88 mt2 condominio Berchatti con garaje precio $ 90.300 acepto vehículos en forma pago 76681555
SANTA CRUZ Vendo departamento de 1 dormitorio con garaje ubicado 7 anillo de la Banzer con 39mt2 precio $ 44.700 acepto en forma de pago vehículos 76681555
SANTA CRUZ Vendo departamento duplex con dos dormitorios garaje con 112mt2 ubicado canal Isuto condominio Smart Studio 1.0 precio 160.000 dólares acepto en forma de pago vehículos 76681555
VENDO lote, 300 mts, en la urbanización Bella Vista. Cel. 67454776.
CASA en alquiler. Cel. 67409755.
CASA En venta a estrenar cuenta 1 suite, 2 dormitorios,2 baños, cocina americana, área de lavado, churrasquero, c/garaje amplio, c/servicios básicos ubicado zona Itocta prox. Colegio San Antonio llamar telf. 4504879, cel. 72769463, 68580216.
HERMOSO Lote de terreno en venta, 300 m2, Colcapirhua- Zona Willcataco. todo al día. 65317690
1.500 BS. Casita sencilla totalmente independiente 1 dormitorio dependencias completas patio amplio garaje Zona Oeste Balneario Manantial 77994624 Whatsapp
DEPARTAMENTO América Oeste frente a plazuela para pareja o persona sola 1.100 bolivianos. Celular: 77407769
DEPARTAMENTO En alquiler de un dormitorio, living, comedor, cocina c/cajonería alta y baja, baño de visitas, áreas comunes c/piscina, sauna, churrasquera, salón de fiestas y jaulas de secado. Ubicado en Av. Heroínas casi Pedro Blanco llamar cel. 72769463, 68580216
1.100 BS. Benjo Cruz Condebamba independiente garzonier alquiler con patio +garaje ideal pareja 1Dormitorio dependencias completas 77994624 Whatsapp
15.000 $US Solamente anticrético 2 dormitorios a estrenar templo mormones 79795225
HUAYLLANI vendo 2 lotes, de 300 m2, una cuadra al norte de la Tranca de Peaje de Sacaba. Cel. 77487244.
ALQUILER tienda, 8x5, en Av. Oquendo 671 sud. Ref. 422085, 70355603.(*)
EN ALQUILER restaurant, zona sud. Cel. 67565654.
CASA En venta superficie: 615.79 m2 Abstenerse inmobiliarias. Trato directo con el dueño. Contactos: 71459504, 72247407
DOY CUARTOS en anticrético, calle Armando Mendez, zona Las Cuadras. Cel. 60391193, 60733652.
EN VENTA terreno 400 m2 Sup. ubicado en playa Motaw - Santa Cruz, precio 13.300 $us, el precio es negociable, interesados, llamar al 76727539, 71557125.
ALQUILO departamento, cocina, baño independiente, garzonier, cocina, baño, Av. ustariz, Km 8. Cel. 77957570, 72740939.
DEPARTAMENTO anticrético, Nicaragua S-717. Telf. 4257662.
DUEñA vende casa en esquina, zona Abra, todos los servicios, entre 2 Av. Ref. 68483114.
ALQUILER Departamento 3 dormitorios y dependencias tras Aldeas SOS whatsapp 67405546
1.300 BS. Mercado 10 de Febrero bonito departamento alquiler 2Dormitorios dependencias completas lavandería garaje entrega inmediata 77994624 Whatsapp
ALQUILO Local comercial IC Norte Hipódromo 63991849
HABITACION Grande 2 ambientes cerca puente cobija todo servicio WIFI cable baño cocina. WhatsApp: 71405294